<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieList</title>
</head>
<header>
    <h1>Movie List</h1>
    <ul>
        <li>
            <a th:href="@{/}">Start</a>
        </li>
    </ul>
</header>
<body>
    <p>Här kommer en lista med filmer att visas</p>

    <div class="movieList" th:unless="${#lists.isEmpty(allMovies)}">
        <table>
            <thead>
                <tr>
                    <th>Movie title</th>
                    <th>Director</th>
                    <th>Release Year</th>
                    <th>Description</th>
                    <th>Length hh:mm</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${allMovies}">
                    <td><span th:text="${movie.title}"></span></td>
                    <td><span th:text="${movie.director}"></span></td>
                    <td><span th:text="${movie.year}"></span></td>
                    <td><span th:text="${movie.description}"></span></td>
                    <td><span th:text="${movie.length}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul>

        <li>
            <a th:href="@{/movieList/addMovie}">add a movie</a>
        </li>
    </ul>

</body>
</html>
